.git
.github
.idea

backend/.env
backend/.env.*
backend/vendor
backend/node_modules
backend/dump.rdb
backend/storage/logs
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitignore

frontend/node_modules
frontend/.expo
frontend/.expo-shared
frontend/dist
frontend/web-build

backend_skeleton_tmp
